# KomikHQ Astro Local Environment Variables Template
PUBLIC_API_URL="http://localhost:8787"
PUBLIC_USERS_CDN_URL="https://cdn-01.komikhq.com"
PUBLIC_MEDIA_CDN_URL="https://cdn-02.komikhq.com"


# Better Auth Session & Backend Configuration
BETTER_AUTH_URL="http://localhost:8787"
BETTER_AUTH_SECRET="your-32-byte-secret-string-here"

# Web Analytics & User Behavior Tracking
PUBLIC_GA_ID="G-V44GMCRBP2"
PUBLIC_CLARITY_ID="yui00n93x1"
